---
http_interactions:
- request:
    method: get
    uri: http://api.dribbble.com/players/simplebits
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"name":"Dan Cederholm","location":"Salem, MA","followers_count":39091,"draftees_count":184,"likes_count":38203,"likes_received_count":28738,"comments_count":2408,"comments_received_count":3495,"rebounds_count":34,"rebounds_received_count":495,"url":"http://dribbble.com/simplebits","avatar_url":"https://d13yacurqjgara.cloudfront.net/users/1/avatars/normal/4161c529fb7fe8d539bb71f73527c0aa.jpg?1424749681","username":"simplebits","twitter_screen_name":"simplebits","website_url":"http://simplebits.com","drafted_by_player_id":null,"shots_count":234,"following_count":1798,"created_at":"2009/07/07
        21:51:22 -0400"}'
  recorded_at: Thu, 26 Mar 2015 09:40:03 GMT
[...]
- request:
    method: get
    uri: http://api.dribbble.com/players/simplebits
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"name":"Dan Cederholm","location":"Salem, MA","followers_count":39093,"draftees_count":184,"likes_count":38203,"likes_received_count":28741,"comments_count":2408,"comments_received_count":3495,"rebounds_count":34,"rebounds_received_count":495,"url":"http://dribbble.com/simplebits","avatar_url":"https://d13yacurqjgara.cloudfront.net/users/1/avatars/normal/4161c529fb7fe8d539bb71f73527c0aa.jpg?1424749681","username":"simplebits","twitter_screen_name":"simplebits","website_url":"http://simplebits.com","drafted_by_player_id":null,"shots_count":234,"following_count":1798,"created_at":"2009/07/07
        21:51:22 -0400"}'
  recorded_at: Thu, 26 Mar 2015 10:07:49 GMT
recorded_with: VCR 2.9.3
